<div class="container">
  <h1 class="heading text center">
    General Data
  </h1>
  <div class="campaign-general">

    <p class="title text uppercase">
      Infomation
    </p>
    <hr>

    <div class="general-info">
      <div class="grid-layout slot-2">
        <div class="">
          <span class="label" for="campaign-owner">
            Campaign Owner
          </span>
          <input
            id="campaign-owner"
            type="text"
            placeholder="">
        </div>
        <div class="">
          <span class="label" for="campaign-name">
            Campaign Name
          </span>
          <input
            id="campaign-name"
            type="text"
            placeholder="">
        </div>
      </div>
    </div>

    <br>

    <div class="general-point-type">
      <p class="label">
        Campaign Type
      </p>
      <div class="grid-layout slot-4">
        <div
          class="item"
          *ngFor="let item of type; let i = index"
          [ngClass]="{
            'active': item.value == campaign.type
          }"
          [ngStyle]="{
            'height': 'fit-content'
          }"
          (click)="
            campaign.type = item.value
          ">
          {{ item.name }}
        </div>

        <div
          class="item active"
          [ngStyle]="{
            'grid-row': '1 / span 2'
          }"
          *ngIf="
            (
              campaign.type == 'REDEEM' ||
              campaign.type == 'POINT_BONUS'
            )
          ">

          {{
            campaign.type == 'REDEEM'
              ? 'REDEEM'
              : 'BONUS'
          }} POINT

          <div
            class="input-number"
            [ngStyle]="{
              'text-align': 'center',
              'margin-top': '1em'
            }">
            <div class="text-center">
              <button
                class="circle"
                [ngStyle]="{
                  'margin': '0'
                }">
                <i class="fa fa-minus"></i>
              </button>
            </div>
            
            <input
              type="text"
              [(ngModel)]="campaign.point">

            <div class="text-center">
              <button
                class="circle"
                [ngStyle]="{
                  'margin': '0'
                }">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <p class="title text uppercase">
      Duration
    </p>
    <hr>

    <div class="general-duration">
      <div class="grid-layout slot-2">
        <div>
          <span class="label" for="campaign-activate">
            Activate
          </span>
          <input 
            id="campaign-activate" 
            type="text" 
            placeholder="">
        </div>
        <div class="">
          <p class="label">
            From time
          </p>
          <input 
            id="campaign-deactivate" 
            type="text" 
            placeholder="">
        </div>
        <div>
          <span class="label" for="campaign-deactivate">
            Deactivate
          </span>
          <input 
            id="campaign-deactivate" 
            type="text" 
            placeholder="">
        </div>
        <div class="">
          <p class="label">
            To time
          </p>
          <input 
            id="campaign-deactivate" 
            type="text" 
            placeholder="">
        </div>
      </div>
      <br>
      <p class="label">
        Allowed Day
      </p>
      <div class="grid-layout day-slot">
        <div
          class="item"
          *ngFor="let item of day; let i = index"
          [ngClass]="{
            'active': activeDay(i)
          }"
          (click)="onSelectDay(i)">
          {{ item }}
        </div>
      </div>
    </div>

    <br>
    <p class="title text uppercase">
      Additional
    </p>
    <hr>

    <div class="general-additional">
      <p class="label">
        Campaign Audience
      </p>
      <div class="grid-layout slot-3">
        <div 
          class="item"
          *ngFor="let item of invite"
          [ngClass]="{
            'active': item.value == campaign.invite
          }"
          (click)="campaign.invite = item.value">
          {{ item.name }}
        </div>
      </div>
      <br>
      <div class="grid-layout slot-2">
        <div>
          <p class="label">
            Campaign Blacklist
          </p>
          <div class="grid-layout slot-2">
            <div 
              class="item"
              *ngFor="let item of blacklist"
              [ngClass]="{
                'active': item.value == campaign.blacklist
              }"
              (click)="campaign.blacklist = item.value">
              {{ item.name }}
            </div>
          </div>
        </div>
        <div>
          <p class="label">
            Error Notification for NGCM
          </p>
          <div class="grid-layout slot-2">
            <div 
              class="item"
              *ngFor="let item of notice"
              [ngClass]="{
                'active': item.value == campaign.notice
              }"
              (click)="campaign.notice = item.value">
              {{ item.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text right">
    <button (click)="goto(navigator['next'])">
      Next
    </button>
  </div>
</div>
