<div class="container">
  <div class="">
    <p>(เลือก) วิธีตอบกลับ</p>
    <ul>
      <li>ส่ง SMS ทั้งหมด</li>
      <li>ส่ง USSD ทั้งหมด</li>
      <li>ส่ง SMS เมื่อสำเร็จ และส่ง USSD เมื่อผิดพลาด</li>
      <li>ส่ง SMS เมื่อผิดพลาด และส่ง USSD เมื่อสำเร็จ</li>
    </ul>
    <p>ข้อความตอบกลับ (ส่งให้ลูกค้า)</p>
    <ul>
      <li>ไม่มี</li>
      <li>แคมเปญ</li>
      <li>ส่ง SMS เมื่อสำเร็จ และส่ง USSD เมื่อผิดพลาด</li>
      <li>ส่ง SMS เมื่อผิดพลาด และส่ง USSD เมื่อสำเร็จ</li>
    </ul>
  </div>
</div>
